
.App-header {
  background-color: #222;
  height: 64px;
  padding: 20px;
  color: white;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-container {
  width: 100%;
  height: calc(100vh - 104px);
}

.react-calendar-timeline .rct-item.item-weekend {
  background: #21F32C;
  border-color: #29B31A;
}


